/** global **/
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 98vw;
  padding: 1rem;
}

.wrapper {
  border: 2px solid black;
}

/** header **/
.header {
  display: grid;
  grid-template-columns: 1fr 8fr;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.headerLogo {
  width: 10vw;
  padding-top: 1rem;
}

.headerMenu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 1rem;
  padding-left: 20vw;
  padding-right: 4vw;
}

/** hero section **/
.hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 1rem;
}

.heroItem {
  text-align: center;
  align-self: center;
}

.heroImg {
  width: 57vw;
}

/** highlights section **/
.highlights {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}

.highlightsHeader {
  text-align: center;
}

.highlightsMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
}

.menuCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuCard img {
  width: 25vw;
  height: 300px;
}

/** reviews section **/
.reviews {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}

.reviewsHeader {
  text-align: center;
}

.testimonials {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.review {
  text-align: center;
}

/** about section **/
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 5rem;
}

.aboutImg {
  width: 60vw;
}

/** footer section **/
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 1rem;
  padding-bottom: 1rem; 
  justify-content: space-evenly;
}

.footerLogo {
  padding-top: 3rem;
}

.footerLinks {
  margin-right: 15vw;
}

@media only screen and (max-width:600px) {
  .contactInfo {
    margin-right: auto;
    margin-bottom: 3vh;
  }
  .footerInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }  
}

@media only screen and (min-width:600px){
  .footerInfo {
    display: flex;
    flex-direction: row;
  }
  .contactInfo {
    margin-right: 15vw;
  }
}

.footer div {
  align-items: center;
}

ul li {
  list-style-type: none;
}