/** global **/
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 98vw;
  padding: 1rem;
}

.wrapper {
  border: 2px solid black;
}

/** header **/
.header {
  display: grid;
  grid-template-columns: 1fr 8fr;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

/** TODO: add viewport resizing for mobile and ipad views **/
.headerLogo {
  width: 20vw;
  padding-top: 1rem;
}

.headerMenu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 1rem;
  padding-left: 20vw;
  padding-right: 4vw;
}

/** hero section **/
.hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 5rem;
}

.heroItem {
  text-align: center;
  align-self: center;
}

.heroImg {
  width: 70vw;
}

/** highlights section **/
.highlights {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}

.highlightsHeader {
  text-align: center;
}

.highlightsMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
}

.menuCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-end;
}

/** reviews section **/
.reviews {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}

.reviewsHeader {
  text-align: center;
}

.testimonials {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.review {
  text-align: right;
}

/** about section **/
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 5rem;
}

.aboutImg {
  width: 60vw;
}

/** footer section **/
.footer {
  display: grid;
  grid-template-columns: .5fr 2fr 1fr 1fr;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footerLogo {
  padding-top: 3rem;
}

.footer div {
  align-items: center;
  padding-left: 5rem;
}

ul li {
  list-style-type: none;
}