/** global **/
.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100vw;
}

.wrapper {
  border: 2px solid black;
}

/** header **/
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 2vw;
  align-items: stretch;
}

.headerMenu {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 1rem;
  padding-left: 48vw;
  padding-right: 4vw;
}

/** hero section **/
.hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 2rem;
}

.heroItem {
  border: 2px solid black;
  text-align: center;
  align-self: center;
}

.heroImg {
  width: 70vw;
}

/** highlights section **/
.highlights {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.highlightsHeader {
  text-align: center;
}

.highlightsMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
}

/** reviews section **/
.reviews {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.reviewsHeader {
  text-align: center;
}

.testimonials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
}

/** about section **/
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.aboutImg {
  width: 30vw;
}

/** footer section **/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2rem;
}